body {
  background-image: url("Images/background.png");
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  position: absolute;
  top: 107px;
  left: 128px;
  font-family: Aboreto;
  font-size: 64px;
  line-height: 84px;
  font-weight: 400;
  color: rgb(255, 0, 0);
}

h2#username {
  position: absolute;
  top: 198px;
  left: 132px;
  width: 502px;
  font-family: Aboreto;
  font-size: 40px;
  line-height: 56px;
  font-weight: 400;
  color: rgb(255, 0, 0);
}

#textbox {
  position: absolute;
  top: 404px;
  left: 132px;
  opacity: 1;
  width: 522px;
  height: 52px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: Aboreto;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  background: rgb(231, 35, 35);
  border-radius: 6px;
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  outline: none;
}

#submit-name {
  position: absolute;
  top: 463px;
  left: 132px;
  height: 36px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Aboreto;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffffff;
  background: rgb(14, 0, 141);
  opacity: 1;
  border: none;
  border-radius: 6px;
}

h3.story {
  position: absolute;
  top: -15px;
  left: 10px;
  width: 502px;
  font-family: Aladin;
  font-size: 32px;
  line-height: 48px;
  font-weight: 400;
  color: rgb(255, 0, 0);
}

h3.play {
  position: absolute;
  top: -20px;
  left: 10px;
  width: 502px;
  font-family: Aladin;
  font-size: 32px;
  line-height: 48px;
  font-weight: 400;
  color: rgb(255, 0, 0);
}

p.story {
  position: absolute;
  top: 35px;
  left: 10px;
  width: 567px;
  height: 216px;
  font-family: Aladin;
  font-size: 20px;
  line-height: 36px;
  font-weight: 400;
  color: rgb(255, 0, 0);
}

p.play {
  position: absolute;
  top: 35px;
  left: 10px;
  width: 508px;
  height: 216px;
  font-family: Aladin;
  font-size: 18px;
  line-height: 34px;
  font-weight: 400;
  color: rgb(255, 0, 0);
}

a.game-direct {
  position: absolute;
  top: 411px;
  left: 848px;
  width: 482px;
  font-family: Inter; /* Body */
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  color: #379ae6ff; /* info-500 */
}

section.story {
  position: absolute;
  top: 516px;
  left: 127px;
  width: 584px;
  height: 325px;
  background: rgb(12, 0, 124);
  border-radius: 10px;
  box-shadow: 0px 4px 9px #171a1f1c, 0px 0px 2px #171a1f1f;
}

section.gameway {
  position: absolute;
  top: 516px;
  left: 795px;
  width: 518px;
  height: 325px;
  background: rgb(170, 0, 0);
  border-radius: 10px;
  box-shadow: 0px 4px 9px #171a1f1c, 0px 0px 2px #171a1f1f;
}

section.roles {
  position: absolute;
  top: 906px;
  left: 128px;
  width: 1176px;
  height: 407px;
  background: rgb(0, 0, 0);
  border-radius: 16px;
}

h2.roles {
  position: absolute;
  top: 90px;
  left: 48px;
  font-family: Aboreto;
  font-size: 32px;
  line-height: 48px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

p.roles {
  position: absolute;
  top: 138px;
  left: 48px;
  width: 438px;
  font-family: Aboreto;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

img.bossdisplay1 {
  position: absolute;
  top: 0px;
  left: 848px;
  width: 418px;
  height: 391px;
  border-radius: 0px 0px 300px 300px;
}

img.logo {
  position: absolute;
  top: 8px;
  left: 132px;
  width: 502px;
  height: 196px;
  border-radius: 0px;
}

img.img1 {
  position: absolute;
  top: 64px;
  left: 522px;
  width: 178px;
  height: 307px;
  border-radius: 6px;
}

img.img2 {
  position: absolute;
  top: 24px;
  left: 663px;
  width: 178px;
  height: 307px;
  border-radius: 6px;
}

img.img3 {
  position: absolute;
  top: 100px;
  left: 807px;
  width: 178px;
  border-radius: 6px;
}

img.img4 {
  position: absolute;
  top: 42px;
  left: 980px;
  width: 178px;
  height: 307px;
  border-radius: 6px;
}
footer.rights {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 20px;
  background: rgb(20, 0, 0);
  color: white;
  font-family: Aboreto;
}
div.forcer {
  height: 1400px;
}
